LOGGER_LEVEL=info
FRONTEND_URL=https://localhost
SECRET_KEY=secret_key123456

ADMIN_EMAIL=admin@togglr.dev
ADMIN_TMP_PASSWORD=password543210

API_SERVER_ADDR=:8080
API_SERVER_READ_TIMEOUT=15s
API_SERVER_WRITE_TIMEOUT=30s
API_SERVER_IDLE_TIMEOUT=60s

TECH_SERVER_ADDR=:8081
TECH_SERVER_READ_TIMEOUT=15s
TECH_SERVER_WRITE_TIMEOUT=30s
TECH_SERVER_IDLE_TIMEOUT=60s

SDK_SERVER_ADDR=:8090
SDK_SERVER_READ_TIMEOUT=15s
SDK_SERVER_WRITE_TIMEOUT=30s
SDK_SERVER_IDLE_TIMEOUT=60s

WS_SERVER_ADDR=:8082
WS_SERVER_READ_TIMEOUT=15s
WS_SERVER_WRITE_TIMEOUT=30s
WS_SERVER_IDLE_TIMEOUT=60s

# PostgreSQL
POSTGRES_HOST=togglr-postgresql
POSTGRES_DATABASE=db
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_USER=user
MIGRATIONS_DIR=/migrations

# NATS
NATS_URL=nats://togglr-nats:4222

ADMIN_EMAIL=admin@togglr.dev
ADMIN_TMP_PASSWORD=password543210

# JWT
JWT_SECRET_KEY=secret_key123456
ACCESS_TOKEN_TTL=3h
REFRESH_TOKEN_TTL=168h
RESET_PASSWORD_TTL=8h

# SAML
SAML_ENABLED=false
SAML_ENTITY_ID=https://togglr-reverse-proxy/api/v1/saml/metadata
SAML_CALLBACK_URL="https://togglr-reverse-proxy/api/v1/auth/sso/callback"
SAML_CERTIFICATE_PATH=
SAML_PRIVATE_KEY_PATH=
SAML_ALLOWED_ISSUERS=http://togglr-keycloak:8080/realms/togglr,https://togglr-reverse-proxy/api/v1/saml/acs
SAML_ATTRIBUTE_MAPPING=uid:username,email:email
SAML_PUBLIC_ROOT_URL="https://togglr-reverse-proxy"
SAML_IDP_METADATA_URL="http://togglr-keycloak:8080/realms/togglr/protocol/saml/descriptor"

# Mailer
MAILER_ADDR=togglr-mailhog:1025
MAILER_USER=admin@togglr.dev
MAILER_PASSWORD=Togglr123!
MAILER_FROM=noreply@togglr.dev
MAILER_ALLOW_INSECURE=true
MAILER_BASE_URL="https://localhost"
