LOGGER_LEVEL=info

API_SERVER_ADDR=:8080
API_SERVER_READ_TIMEOUT=15s
API_SERVER_WRITE_TIMEOUT=30s
API_SERVER_IDLE_TIMEOUT=60s

TECH_SERVER_ADDR=:8081
TECH_SERVER_READ_TIMEOUT=15s
TECH_SERVER_WRITE_TIMEOUT=30s
TECH_SERVER_IDLE_TIMEOUT=60s

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_DATABASE=db
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_USER=user
MIGRATIONS_DIR=./migrations
